body{margin: 0;
padding: 0;}

* {
  font-family: Garamond, serif;
}

/**header**/
.header{display: flex; 
height: 90px;
background-color: white;
top: 0;
position:fixed;
width: 100%;
z-index: 1;}

.icon{display: flex;
width:80% ;}

.logo{height: 160px;
margin-left: 20px;
border-radius: 50%;
width: 75px;
height: 75px;
margin-top: 5px;}

.name{margin-top: 20px;
margin-left: 10px;
font-size: 35px;
color: rgb(235, 105, 58);
font-weight:600;
text-decoration: none;}

.tag{margin-left: 30px;
margin-top: 34px;
font-size:medium;
color: gray;
text-decoration: none;}

.offers{margin-left: -5px;}

.tag1{margin-top: 34px;
font-size: medium;
color: gray;
text-decoration: none;
margin-left:10px ;}
    
.eng{margin-left: 600px;}

.tag:hover{color: black;}

.icon1{height: 20px;
width: 20px;
margin-left: 30px;
margin-top: 34px;}



.number{margin-top: 34px;
margin-left: 10px;}


/**menu**/
.dropbtn {
background-color: white;
color: gray;
font-size: 16px;
border: none;}
  
.dropdown {
position: relative;
display: inline-block;}
.dropdown-content {
display: none;
position: absolute;
background-color: #f1f1f1;
min-width: 160px;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
z-index: 1;}
  
.dropdown-content a {
color: black;
padding: 12px 16px;
text-decoration: none;
display: block;}
  
.dropdown-content a:hover {background-color: #ddd;}
  
.dropdown:hover .dropdown-content {display: block;}


/**header**/

.cheesecake{border-bottom-left-radius: 50%;
border-top-left-radius: 50%;
right: 0%;}

.title{margin-top: 200px;
margin-right: 270px;
font-weight: 800;
font-size: 50px;}

.img1{width: 100%;
display: flex;
justify-content: flex-end;
position: absolute;
z-index: -1;
margin-top: -600px;
background-image: linear-gradient(to bottom,rgb(248, 229, 232) ,white);
background-image: -o-linear-gradient(to bottom,rgb(248, 229, 232) ,white);
background-image: -webkit-linear-gradient(to bottom,rgb(248, 229, 232) ,white);
background-image: -moz-linear-gradient(to bottom,rgb(248, 229, 232) ,white);}



/**cakes**/
h1{width: 100%;
text-align: center;
margin-top: 600px;
font-size: x-large;
color:rgb(204, 84, 40) ;}
.wrapper {
max-width: 1100px;
width: 100%;
position: relative;
margin-left: 120px;}
.wrapper i {
top: 50%;
height: 50px;
width: 50px;
cursor: pointer;
font-size: 1.25rem;
position: absolute;
text-align: center;
line-height: 50px;
background: #fff;
border-radius: 50%;
box-shadow: 0 3px 6px rgba(0,0,0,0.23);
transform: translateY(-50%);
transition: transform 0.1s linear;}
.wrapper i:active{
transform: translateY(-50%) scale(0.85);}
.wrapper i:first-child{
left: -22px}
.wrapper i:last-child{
right: -22px;}
.wrapper .carousel{
display: grid;
grid-auto-flow: column;
grid-auto-columns: calc((100% / 3) - 12px);
overflow-x: auto;
scroll-snap-type: x mandatory;
gap: 16px;
border-radius: 8px;
scroll-behavior: smooth;
scrollbar-width: none;}
.carousel::-webkit-scrollbar {
display: none;}
.carousel.no-transition {
scroll-behavior: auto;}
.carousel.dragging {
scroll-snap-type: none;
scroll-behavior: auto;}

.carousel.dragging .card {
cursor: grab;
user-select: none;}

.carousel :where(.card, .img) {
display: flex;
justify-content: center;
align-items: center;}

.carousel .card {
scroll-snap-align: start;
height: 342px;
list-style: none;
background: #fff;
cursor: pointer;
padding-bottom: 15px;
flex-direction: column;
border-radius: 8px;}

.carousel .card .img {background: white;
height: 148px;
width: 148px;}

.card .img img {width: 190px;
height: 190px;
object-fit: cover;
border: 4px solid #fff;}

.carousel .card h2 {font-weight: 500;
font-size: 1.56rem;
margin: 30px 0 5px;}

.carousel .card span {color: #6A6D78;
font-size: 1.31rem;}



@media screen and (max-width: 900px) {
.wrapper .carousel {
grid-auto-columns: calc((100% / 2) - 9px);}}

@media screen and (max-width: 600px) {
.wrapper .carousel {
grid-auto-columns: 100%;}}

/**cakes**/

/**instagram**/

.logo3{width: 40px;}

.instagram1{display: flex;
margin-top: 20px;}

.instagram2{width: 30%;
padding-left: 30px;}

.text4{font-size: 60px;
font-style: italic;
margin-top: 20px;}

.us{font-size: xx-large;
color:rgb(204, 84, 40) ;}

.instagram{padding-left: 50px;
margin-top: 70px;
display: flex;}

.shop1{padding-top: 10px;
margin-left: 5px;}

.pick{width: 180px;
height: 180px;
border-radius: 20%;
box-shadow: 7px 3px 7px;}

.photo{margin-left: 50px;
width: 60%;}

.photo1{display: flex;
justify-content: space-evenly;
height: 220px;}

.b, .e{margin-top: 30px;}

/**instagram**/

/**about us**/

.about2{margin: 30px;}

.about1{color:rgb(235, 105, 58) ;
font-size:xx-large;
margin-left: 490px;}

.our{font-size: 50px;
font-family: 'Brush Script mt', 'cursive';
font-weight: bold;
margin-left: 320px;}

.cake3{width: 100%;
height: 600px;
margin-top: 10px;}

.text1{color: gray;
font-style: italic;
margin-left: 190px;}

.say{margin-left: 510px;
font-family: 'Brush Script mt', 'cursive';;
font-size: 50px;}

.say1{height: 300px;
background-color: rgb(255, 236, 240);}

.avatar{width: 70px;
border-radius: 50%;}

.avatar2{display: flex;
margin-left: 10px;
padding-top: 10px;}

.name2{margin-left: 10px;
margin-top: 15px;}

.name1{font-size: larger;
font-weight: bold;}

.home{color: #444;}

.text2{color: #444;
margin-top: 10px;
margin-left: 10px;}

.client{background-color: white;
width: 400px;
height: 170px;
margin-top: 20px;}

.client2{display: flex;
justify-content: space-evenly;}

.team {color:rgb(235, 105, 58) ;
font-size: xx-large;
margin-left: 70px;
margin-top: 40px;}

.team2{display: flex;
justify-content: space-evenly;
margin-top: 20px;}

.sweet{font-size: 50px;
margin-left: 70px;
font-style: italic;}

/**about us**/

/**footer**/

.footer{background-color:rgb(179, 59, 15);
height: 100px;
margin-top: 40px;
display: flex;
justify-content: space-evenly;}

.time{color: white;}

.one{font-size: larger;
color: white;
margin-bottom: 10px;}
.time1{padding-top: 20px;}

.sub{color: white;
font-size: larger;
padding-left: 5px;}

.logo1{width: 35px;
border-radius: 50%;
margin-top: 5px;}

.sub1{padding-top: 30px;}

.team2{margin-bottom: 100px;}

.info{padding-top: 30px;
color: white;}

.info1{font-size: larger;}

@media  (max-width:480px )
{.footer{display: block;
height: 300px;
text-align: center;
width: 100%;}
.team2{display: block;
width: 100px;
margin-left: 20%;} 
.team , .sweet{margin-left: 20%;}    
.client2{display: block;}
.say1{height: 850px;
width: 100%;}
.say{margin-left: 20%;}

.text2{padding: 10px;
width: 80%px;}
.client{margin-left: 10%;
width: 90%;
height: 300px;}  
.text1{width: 80%;
margin-left: 10%;
text-align: center;}
.our{width: 70%;
margin-left: 15%;}
.about1{width: 60%;
margin-left: 30%;}
.cake3{width: 100%;
height: 300px;
margin-top: 140px;}
/**header**/
.header{display: block;
height: 140px;}
.icon{width: 100%;}
.tag1{margin-left: 10px;
margin-top: 10px;}
.tag{margin-left: 10px;
margin-top: 10px;}
.offers{margin-left: -5px;}
.instagram{display: block;}
.photo1 ,.photo {display: block;}
.photo1{
margin-bottom: 400px;}

.pick{margin-top: 20px;}}

@media (min-width:481px) and (max-width:780px)
{.footer{display: block;
height: 300px;
text-align: center;
width: 100%;}
.team2{display: block;
width: 150px;
margin-left: 20%;}  
.team , .sweet{margin-left: 20%;}    
.client2{display: block;}
.say1{height: 600px;
width: 100%;}
.say{margin-left: 20%;}
.client{height: 220px;}
.text2{padding: 10px;
width: 80%;}
.client{margin-left: 10%;}
.text1{width: 80%;
margin-left: 10%;
text-align: center;}
.our{width: 70%;
margin-left: 15%;}
.about1{width: 60%;
margin-left: 30%;}
.cake3{width: 100%;
height: 400px;
margin-top: 140px;}

/**header**/
.header{display: block;
height: 140px;}
.icon{width: 100%;}
.tag1{margin-left: 10px;
margin-top: 10px;}
.tag{margin-left: 10px;
margin-top: 10px;}
.offers{margin-left: -5px;}
.eng{margin-left: 10px;}
.instagram{display: block;}
.photo1 ,.photo {display: block;}
.photo1{
margin-bottom: 400px;}

.pick{margin-top: 20px;}

}

