* {
margin: 0;
padding: 0;}
body {
font-family: Garamond, serif;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
gap: 30px;
background-color: rgb(231, 231, 231);}
 
.container {
height: 600px;
width: 500px;
background-color: white;
box-shadow: 8px 8px 20px rgb(128, 128, 128);
position: relative;
overflow: hidden;
margin-top: 110px;}
 
.btn {
height: 60px;
width: 300px;
margin: 20px auto;
box-shadow: 10px 10px 30px rgb(254, 215, 188);
border-radius: 50px;
display: flex;
justify-content: space-around;
align-items: center;}
 
/**header**/
.header{display: flex; 
height: 90px;
background-color: white;
width: 100%;
top: 0;
position: fixed;
z-index: 1;}
    
.icon{display: flex;
width:75% ;}
    
.logo{height: 160px;
margin-left: 20px;
border-radius: 50%;
width: 75px;
height: 75px;
margin-top: 5px;}
    
.name1{margin-top: 20px;
margin-left: 10px;
font-size: 35px;
color: rgb(235, 105, 58);
font-weight:600;
text-decoration: none;}
    
.tag{margin-left: 30px;
margin-top: 34px;
font-size:medium;
color: gray;
text-decoration: none;}

.tag1{margin-top: 34px;
font-size: medium;
color: gray;
text-decoration: none;
margin-left:10px ;}
        
.eng{margin-left: 600px;}
    
.tag:hover{color: black;}
    
.icon1{height: 20px;
width: 20px;
margin-left: 30px;
margin-top: 34px;}
    

    
.number{margin-top: 34px;
    margin-left: 10px;}
    
    /**menu**/
.dropbtn {
    background-color: white;
    color: gray;
    font-size: 16px;
    border: none;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
    margin-left: -5px;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #ddd;}
  
  .dropdown:hover .dropdown-content {display: block;}
    /**header**/


.login,
.signup {
    font-size: 22px;
    border: none;
    outline: none;
    background-color: transparent;
    position: relative;
    cursor: pointer;
}
 
.slider {
    height: 60px;
    width: 150px;
    border-radius: 50px;
    background-image: linear-gradient(to right,
            rgb(255, 195, 110),
            rgb(255, 146, 91));
    position: absolute;
    top: 20px;
    left: 100px;
    transition: all 0.5s ease-in-out;
}
 
.moveslider {
    left: 250px;
}
 
.form-section {
    height: 500px;
    width: 1000px;
    padding: 20px 0;
    display: flex;
    position: relative;
    transition: all 0.5s ease-in-out;
    left: 0px;
}
 
.form-section-move {
    left: -500px;
}
 
.login-box,
.signup-box {
    height: 100%;
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0px 40px;
}
 
.login-box {
    gap: 50px;
}
 
.signup-box {
    gap: 30px;
}
 
.ele {
    height: 60px;
    width: 400px;
    outline: none;
    border: none;
    color: rgb(77, 77, 77);
    background-color: rgb(240, 240, 240);
    border-radius: 50px;
    padding-left: 30px;
    font-size: 18px;
}
 
.clkbtn {
    height: 60px;
    width: 150px;
    border-radius: 50px;
    background-image: linear-gradient(to right,
            rgb(255, 195, 110),
            rgb(255, 146, 91));
    font-size: 22px;
    border: none;
    cursor: pointer;
}
 
/* For Responsiveness of the page */
 
@media screen and (max-width: 650px) {
    .container {
        height: 600px;
        width: 300px;
    }
 
    .title {
        font-size: 15px;
    }
 
    .btn {
        height: 50px;
        width: 200px;
        margin: 20px auto;
    }
 
    .login,
    .signup {
        font-size: 19px;
    }
 
    .slider {
        height: 50px;
        width: 100px;
        left: 50px;
    }
 
    .moveslider {
        left: 150px;
    }
 
    .form-section {
        height: 500px;
        width: 600px;
    }
 
    .form-section-move {
        left: -300px;
    }
 
    .login-box,
    .signup-box {
        height: 100%;
        width: 300px;
    }
 
    .ele {
        height: 50px;
        width: 250px;
        font-size: 15px;
    }
 
    .clkbtn {
        height: 50px;
        width: 130px;
        font-size: 19px;
    }
}
 
@media screen and (max-width: 320px) {
    .container {
        height: 600px;
        width: 250px;
    }
 
    .heading {
        font-size: 30px;
    }
 
    .title {
        font-size: 10px;
    }
 
    .btn {
        height: 50px;
        width: 200px;
        margin: 20px auto;
    }
 
    .login,
    .signup {
        font-size: 19px;
    }
 
    .slider {
        height: 50px;
        width: 100px;
        left: 27px;
    }
 
    .moveslider {
        left: 127px;
    }
 
    .form-section {
        height: 500px;
        width: 500px;
    }
 
    .form-section-move {
        left: -250px;
    }
 
    .login-box,
    .signup-box {
        height: 100%;
        width: 250px;
    }
 
.ele {height: 50px;
width: 220px;
font-size: 15px;}
 
.clkbtn{height: 50px;
width: 130px;
font-size: 19px;}}

/**footer**/

.footer{background-color:rgb(179, 59, 15);
    height: 100px;
    margin-top: 40px;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}
    
    .time{color: white;}
    
    .one1{font-size: larger;
    color: white;
    margin-bottom: 10px;}
    .time1{padding-top: 20px;}
    
    .sub{color: white;
    font-size: larger;
    padding-left: 5px;}
    
    .logo1{width: 35px;
    border-radius: 50%;
    margin-top: 5px;}
    
    .sub1{padding-top: 30px;}
    
    .team2{margin-bottom: 100px;}
    
    .info{padding-top: 30px;
    color: white;}
    
    .info1{font-size: larger;}
    @media  (max-width:480px )
{.footer{display: block;
height: 300px;
text-align: center;
width: 100%;}

/**header**/
.header{display: block;
height: 140px;}
.icon{width: 100%;}
.tag1{margin-left: 10px;
margin-top: 10px;}
.tag{margin-left: 10px;
margin-top: 10px;}
.offers{margin-left: -5px;}
.card{display: block;}
}

@media (min-width:481px) and (max-width:780px)
{.footer{display: block;
height: 300px;
text-align: center;
width: 100%;}

/**header**/
.header{display: block;
height: 140px;}
.icon{width: 100%;}
.tag1{margin-left: 10px;
margin-top: 10px;}
.tag{margin-left: 10px;
margin-top: 10px;}
.offers{margin-left: -5px;}
.eng{margin-left: 10px;}
.card{display:block;}


}